// It's highly recommended to change the default colors
// to match your app's branding.

$primary: #0c365a;
$secondary: #23CEFD;
$accent: #efa8c6;

$dark: #1d1d1d;

$positive: #01d167;
$negative: #f60068;
$info: #EDF3FF;
$warning: #f2c037;

@import "~quasar-variables-styl";
